@media (max-width: 767px) {
    .input-group.responsive {
        width: 100%;
        margin: 2%;
        overflow: hidden;
        max-height: none !important;
        height: auto !important;
    }
}

@media (min-width: 768px) {
    .input-group.responsive {
        width: 200% !important;
        position: relative;
    }
}

.container-if-fixed-footer {
    margin-bottom: 60px;
}

/**
 * MeetingPanel
 */
.mtp-panel {
    color: white;
    font-size: 22px;
    padding: 10px;
}

.panel-no-participants {
    background-color: #3498DB;
}

.panel-participants {
    background-color: #2ECC71;
}

.panel-action-req {
    background-color: #E67E22;
}

.panel-cancelled {
    background-color: #E74C3C;
}

.panel-passed {
    background-color: #95A5A6;
}

/**
 * Button CreateMeeting
 */
.btn-round {
    border-radius: 50%!important;
}

.btn-add {
    height: 70px;
    width: 70px;
    bottom: 70px;
    right: 20px;
    text-align: center;
    position: fixed;
    background-color: #34495E;
    color: white;
}

.btn-add i {
    font-size: 30px !important;
}

.btn:active,
.btn:focus {
    outline: none !important;
}

/**
 * Navbar
 */
.navbar-brand img {
    margin-top: -20px;
    max-height: 350%;
    height: 350%;
    -o-object-fit: contain;
    object-fit: contain;
}

.navbar-inverse, .navbar-fixed-bottom {
    background-color: #34495E;
    min-height: 60px;
}

.mtp-notification {
    background-color: #E74C3C;
}

.panel-key {
    width: 99.5%;
    height:10px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius: 0;
}

.row .row-key{
    text-align: center;
    font-size: 13px;
    line-height: 1.0;
    margin-bottom: 5px;
}

/**
 * Icons
 */
.mtp-icon,
.mtp-panel-icon,
.mtp-btn-icon {
    color: white;
}

.mtp-icon-link:hover .mtp-icon{
    color: #1ABC9C;
}

.mtp-icon-link .mtp-icon {
    font-size: 20px;
}

.mtp-icon-xl {
    font-size: 40px !important;
}

.btn-add:hover i {
    color: #1ABC9C;
}

.panel-passed a:hover i {
    color: #7F8C8D !important;
}

.panel-no-participants a:hover i {
    color: #2980B9 !important;
}

.panel-participants a:hover i {
    color: #27AE60 !important;
}

.panel-cancelled a:hover i {
    color: #C0392B;
}

/**
 * Calendar Icon
 */
time.icon
{
    font-size: 0.33em; /* change icon size */
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    border-radius: 0.6em;
    overflow: hidden;
}

time.icon *
{
    display: block;
    width: 100%;
    height: 40%;
    font-size: 1.8em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong
{
    position: absolute;
    top: 0;
    color: #fff;
    background-color: #1ABC9C;
    letter-spacing: 0.08em;
}

time.icon em
{
    position: absolute;
    bottom: 0.3em;
    color: #1ABC9C;
}

time.icon span
{
    font-size: 3.0em;
    font-weight: bold;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
}

/**
 * CreationForm
 */
.mtp-checkbox {
    width: 34px;
    height: 34px;
}

.modal-footer, .modal-header {
    background-color: #34495E;
    color: #1ABC9C;
}

button[type=submit], button[type=button] {
    background-color: #34495E !important;
}

/**
 * Login form
 */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall {
    margin-top: 20px;
    background-color: #34495E;
    color: #1ABC9C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
