<!DOCTYPE html>
<html lang="de" ng-app="MeetTheProf.viewStudent">
<head>
    <meta charset="utf-8">
    <title>MeetTheProf - Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen">

    <!-- Loading additional styles -->
    <link rel="stylesheet" href="../css/mtp.css">

    <!-- Loading Font-Awesome -->
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css" media="screen">

    <!-- Loading ngFabForm styles -->
    <!-- <link rel="stylesheet" href="validation.css"> -->
</head>
<body>
<!-- Navbar -->
<nav id="navHead" class="navbar navbar-inverse" style="border-radius: 0">
    <a class="navbar-brand" href="#"><img src="../img/logo.png" alt="MeetTheProf Logo"></a>
    <div class="collapse navbar-collapse" id="myNavbar" ng-controller="LogoutController">
        <ul class="nav navbar-nav navbar-right ">
            <li><a class="mtp-icon-link" href ng-click="logout()"><span class="glyphicon glyphicon-log-out mtp-icon"></span></a></li>
        </ul>
    </div>
</nav>

<div id="mainContainer" class="container container-if-fixed-footer">
    <div id="studentContainer" class="container" ng-controller="StudentMeetingsController">
        <h1><strong>Meine Anmeldungen</strong></h1>

        <div id="meetingContainerStudent" class="container" ng-show="studentHasMeetings()" style="margin-left: -14px;">
            <div class="panel-group">
                <ng-include src="'../templates/templ_meetingpanelparticipant.html'"
                            ng-repeat="meeting in studentMeetings | orderBy:'start'"></ng-include>
            </div>
        </div>

        <div id="cancelForm" class="modal fade">
            <ng-include src="'../templates/form_participationcancel.html'"></ng-include>
        </div>

        <div class="well well-lg well-warn" ng-show="!studentHasMeetings()">
            <div class="row">
                <div class="col-lg-1">
                    <i class="fa fa-info-circle mtp-icon mtp-icon-xl"></i>
                </div>
                <div class="col-lg-11">
                    <p><strong>Sie sind zur Zeit an keiner Sprechstunde angemeldet.</strong></p>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div id="docentContainer" class="container" ng-controller="DocentMeetingsController">
        <h1><strong>Verfügbare Sprechstunden</strong></h1>

        <div id="docentSelectorContainer" class="container" style="margin-left: -14px;">
            <div class="docent-selector">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="docent-selector-search">
                            <input class="docent-selector-search-field" type="search" value=""
                                   placeholder="Dozent suchen..." ng-model="searchTerm"/>
                            <i class="docent-selector-icon fa fa-search fa-lg"></i>
                        </div>
                    </div>
                    <div class="col-lg-8" ng-show="!docentIsSelected()">
                        <!-- ToDo: Make search field and warning/selected docent align each other -->
                        <div class="docent-selector-warning">
                            <i class="fa fa-info-circle fa-lg mtp-icon-xl" style="padding: 2px 22px 0 0; float: left;"></i>
                            <p class="docent-selector-warning-field">Es ist kein Dozent ausgewählt.</p>
                        </div>
                        <!-- ToDo: Add selected docent -->
                    </div>
                </div>
                <ul ng-show="searchTerm != ''">
                    <ng-include src="'../templates/templ_docentselectorelement.html'"
                                ng-repeat="docent in docents | filter:searchTerm:firstname:lastname | orderBy:'lastname'"></ng-include>
                </ul>
            </div>
        </div>
        <div id="meetingContainerDocent" class="container" ng-show="docentHasMeetings()"
             style="margin-left: -14px;">
            <div class="panel-group">
                <ng-include src="'../templates/templ_meetingpanelparticipantselecteddocent.html'"
                            ng-repeat="docentMeeting in selectedDocentMeetings | orderBy:'start'"></ng-include>
            </div>
        </div>

        <div class="well well-lg well-warn" ng-show="showDocentMeetingsWell()">
            <div class="row">
                <div class="col-lg-1">
                    <i class="fa fa-info-circle mtp-icon mtp-icon-xl"></i>
                </div>
                <div class="col-lg-11">
                    <p><strong>Der ausgewählte Dozent bietet zur Zeit keine Sprechstunden an.</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom" style="border-radius: 0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
                <div class="row">
                    <div class="panel panel-key" style="background-color: #3498DB">
                    </div>
                </div>
                <div class="row row-key" style="color: white;">
                    Anmeldung möglich
                </div>
            </div>
            <div class="col-lg-1">
                <div class="row">
                    <div class="panel panel-key" style="background-color: #2ECC71;">
                    </div>
                </div>
                <div class="row row-key" style="color: white;">
                    angemeldet
                </div>
            </div>
            <div class="col-lg-1">
                <div class="row">
                    <div class="panel panel-key" style="background-color: #E74C3C;">
                    </div>
                </div>
                <div class="row row-key" style="color: white;">
                    Anmeldung nicht möglich/abgesagt
                </div>
            </div>
            <div class="col-lg-1">
                <div class="row">
                    <div class="panel panel-key" style="background-color: #95A5A6;">
                    </div>
                </div>
                <div class="row row-key" style="color: white;">
                    vergangen
                </div>
            </div>
        </div>
    </div>
</nav>

<script src="../../node_modules/jquery/dist/jquery.min.js"></script> <!-- Required for nearly every addon -->
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<!--<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/ng-fab-form/dist/ng-fab-form.min.js"></script>-->
<!-- Angular extension for easier form handling -->
<script src="./viewstudent.js"></script> <!-- Angular module code -->
<script src="../bower_components/ngstorage/ngStorage.min.js"></script>

</body>
</html>
