<div class="validation"
     ng-show="attrs.required==''|| attrs.required">
    <ul class="list-unstyled validation-errors"
        ng-messages="field.$error"
        ng-show="field.$invalid && (field.$touched || field.$dirty || form.$triedSubmit)">
        <li ng-message="required">Feld wird benötigt</li>
        <li ng-message="ngFabEnsureExpression">Keine gültige Bedingung</li>
        <li ng-message="password">Bitte gültiges Passwort eingeben>
        </li>
        <li ng-message="email">Bitte gültige Email eingeben</li>
        <li ng-message="pattern">Ungültiges Eingabeformat</li>
        <li ng-message="date">Bitte gültiges Datum eingeben</li>
        <li ng-message="time">Bitte gültige Zeit eingeben</li>
        <li ng-message="datetime">Bitte gültiges Datum und gültige Zeit eingeben</li>
        <li ng-message="datetime-local">Bitte gültiges Datum und gültige Zeit eingeben</li>
        <li ng-message="number">Dieses Feld muss numerisch sein</li>
        <li ng-message="color">Please enter a valid color</li>
        <li ng-message="range">Please enter a valid range</li>
        <li ng-message="month">Please enter a valid month</li>
        <li ng-message="url">Please enter a valid URL</li>
        <li ng-message="file">Invalid file</li>
        <li ng-message="minlength">Bitte mindestens {{ attrs.minlength }} Zeichen eingeben</li>
        <li ng-message="maxlength">Bitte weniger als {{ attrs.maxlength }} Zeichen eingeben</li>
        <li ng-message="ngFabMatch">Das {{ attrs.type ==='password'? 'passwords' : 'values' }} muss übereinstimmen</li>
        <li ng-if="attrs.type == 'time' "
            ng-message="min">Die eingegebene Zeit muss nach {{ attrs.min |date: 'HH:MM' }} liegen
        </li>
        <li ng-message="max"
            ng-if="attrs.type == 'time' ">Die eingegebene Zeit muss vor {{attrs.max |date: 'HH:MM'}} liegen
        </li>
        <li ng-message="min"
            ng-if="attrs.type == 'date' ">Das eingegebene Datum muss nach {{attrs.min |date:'dd.MM.yyyy'}} liegen
        </li>
        <li ng-message="max"
            ng-if="attrs.type == 'date' ">Das eingegebene Datum muss vor {{attrs.max |date: 'dd.MM.yyyy'}} liegen
        </li>
        <li ng-message="min"
            ng-if="attrs.type === 'number' ">Die eingegebene Nummer muss mindestens {{attrs.min}} sein
          </li>
        <li ng-message="max"
            ng-if="attrs.type === 'number' ">Die eingegebene NUmmer darf maximal {{attrs.max}} sein
        </li>
    </ul>
    <div class="validation-success"
         ng-show="field.$valid && !field.$invalid">
    </div>
</div>
