<!DOCTYPE html>
<html lang="de" ng-app="MeetTheProf.viewDocent">
<head>
    <meta charset="utf-8">
    <title>MeetTheProf - Dozent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen">

    <!-- Loading additional styles -->
    <link rel="stylesheet" href="../css/mtp.css">

    <!-- Loading Font-Awesome -->
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css" media="screen">

    <!-- Loading ngFabForm styles -->
    <link rel="stylesheet" href="../css/validation.css">

</head>
<body ng-controller="MeetingsController">
<!-- Navbar -->
<nav id="navHead" class="navbar navbar-inverse" style="border-radius: 0">
    <a class="navbar-brand" href="#"><img src="../img/logo.png" alt="MeetTheProf Logo"></a>
    <div class="collapse navbar-collapse" id="myNavbar" ng-controller="LogoutController">
        <ul class="nav navbar-nav navbar-right ">
            <li class="dropdown"><a class=" dropdown-toggle mtp-icon-link" href="#" data-toggle="dropdown"><span
                    class="fa fa-gear mtp-icon"></span></a>
                <ul class="dropdown-menu">
                    <li><label class="control-label" for="showCancelled">Abgesagt:</label><input id="showCancelled"
                                                                                                 class="checkbox-inline mtp-checkbox"
                                                                                                 type="checkbox"
                                                                                                 value="showCancelled"
                                                                                                 ng-click="toggleCancelled()">
                    </li>
                </ul>
            </li>
            <li><a class="mtp-icon-link" href ng-click="logout()"><span
                    class="glyphicon glyphicon-log-out mtp-icon"></span></a></li>
        </ul>
    </div>
</nav>
<div id="meetingContainer" class="container container-if-fixed-footer">
    <div id="meetingPanelGroup" class="panel-group">
        <ng-include src="'../templates/templ_meetingpaneladmin.html'"></ng-include>
    </div>
    <div class="well well-lg well-warn" ng-show="isDataLoaded && !hasMeetings()">
        <div class="row">
            <div class="col-lg-1">
                <i class="fa fa-info-circle mtp-icon mtp-icon-xl"></i>
            </div>
            <div class="col-lg-11">
                <p><strong>Sie haben derzeit keine Sprechstunden.</strong></p>
            </div>
        </div>
    </div>
</div>

<!-- Button for creating a meeting -->
<button id="btnAddMeeting" class="btn btn-add btn-round mtp-icon-link" data-toggle="modal" data-target="#creationForm">
    <i class="fa fa-calendar-plus-o fa-lg mtp-btn-icon"></i>
</button>

<nav class="navbar navbar-inverse navbar-fixed-bottom" style="border-radius: 0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
                <div class="row">
                    <div class="panel panel-key" style="background-color: #3498DB">
                    </div>
                </div>
                <div class="row row-key" style="color: white;">
                    niemand angemeldet
                </div>
            </div>
            <div class="col-lg-1">
                <div class="row">
                    <div class="panel panel-key" style="background-color: #2ECC71;">
                    </div>
                </div>
                <div class="row row-key" style="color: white;">
                    Teilnehmer angemeldet
                </div>
            </div>
            <div class="col-lg-1">
                <div class="row">
                    <div class="panel panel-key" style="background-color: #E74C3C;">
                    </div>
                </div>
                <div class="row row-key" style="color: white;">
                    abgesagt
                </div>
            </div>
            <div class="col-lg-1">
                <div class="row">
                    <div class="panel panel-key" style="background-color: #95A5A6;">
                    </div>
                </div>
                <div class="row row-key" style="color: white;">
                    vergangen
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- End of initially visible content -->

<div id="creationForm" class="modal fade">
    <ng-include src="'../templates/form_meetingcreation.html'"></ng-include>
</div>

<div id="editForm" class="modal fade">
    <ng-include src="'../templates/form_meetingedit.html'"></ng-include>
</div>

<div id="cancelForm" class="modal fade">
    <ng-include src="'../templates/form_meetingcancel.html'"></ng-include>
</div>

<script src="../../node_modules/jquery/dist/jquery.min.js"></script> <!-- Required for nearly every addon -->
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script> <!-- Required for ngFabForm -->
<script src="../bower_components/angular-animate/angular-animate.min.js"></script> <!-- Required for ngFabForm -->
<script src="../bower_components/ng-fab-form/dist/ng-fab-form.min.js"></script>
<script src="../bower_components/ngstorage/ngStorage.min.js"></script>
<!-- Angular extension for easier form handling -->
<script src="./viewdocent.js"></script> <!-- Angular module code -->

</body>
</html>
