<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sprechstunde bearbeiten</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" ng-controller="CreationFormController" ng-submit="creationFormEventHandler.submit()">
                <div class="form-group">
                    <label class="control-label col-sm-2">Titel:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" placeholder="Halo i bims 1 Welt!">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default">Speichern</button>
            <button type="button" class="btn btn-default">Abbrechen</button>
        </div>
    </div>
</div>
