<div class="modal-dialog modal-lg">
    <div class="modal-content" ng-controller="CreationFormController">
        <form class="form-horizontal" name="creationForm" ng-fab-form-options="fabFormOptions" ng-submit="submit()"
              novalidate>
            <div class="modal-header">
                <h2 class="modal-title"><strong>Sprechstunde anlegen</strong></h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="title">Titel:</label>
                    <div class="col-lg-9">
                        <input id="title" class="form-control" type="text"
                               placeholder="Welchen Titel soll die Sprechstunde tragen?" ng-model="newMeeting.title"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="room">Raum:</label>
                    <div class="col-lg-9">
                        <input id="room" class="form-control" type="text"
                               placeholder="In welchem Raum soll die Sprechstunde stattfinden?"
                               ng-model="newMeeting.room" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="start">Beginn:</label>
                    <div class="col-lg-9">
                        <input id="start" class="form-control" type="datetime-local"
                               placeholder="Wann soll die Sprechstunde beginnen?" ng-model="newMeeting.start" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="end">Ende:</label>
                    <div class="col-lg-9">
                        <input id="end" class="form-control" type="datetime-local"
                               placeholder="Wann soll die Sprechstunde enden?" ng-model="newMeeting.end" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="last_enrollment">Anmeldeende:</label>
                    <div class="col-lg-9">
                        <input id="last_enrollment" class="form-control" type="datetime-local"
                               placeholder="Ab wann soll sich niemand mehr an der Sprechstunde anmelden können?"
                               ng-model="newMeeting.last_enrollment" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="isSeries">Sprechstundenserie:</label>
                    <div class="col-lg-9">
                        <input id="isSeries" class="checkbox-inline mtp-checkbox mtp-checkbox-series" type="checkbox"
                               value="isSeries" ng-model="newMeeting.is_series">
                        <a href="#" data-toggle="tooltip" data-placement="right"
                           title="Soll eine einzelne Sprechstunde oder eine Serie wöchentlicher Sprechstunden erzeugt werden?">
                            <div class="badge">?</div>
                        </a>
                    </div>
                </div>
                <div id="seriesIntervalGroup" class="form-group" ng-show="newMeeting.is_series">
                    <label class="control-label col-lg-3" for="series_interval">Intervall:</label>
                    <div class="col-lg-9">
                        <input id="series_interval" class="form-control" type="number"
                               placeholder="In welchem Intervall (in Tagen) sollen die Sprechstunden stattfinden?"
                               ng-model="newMeeting.series_interval" ng-required="newMeeting.is_series" min="1" max="7">
                    </div>
                </div>
                <div id="seriesCountGroup" class="form-group" ng-show="newMeeting.is_series">
                    <label class="control-label col-lg-3" for="series_count">Anzahl:</label>
                    <div class="col-lg-9">
                        <input id="series_count" class="form-control" type="number"
                               placeholder="Wie viele Sprechstunden soll die Serie enthalten?"
                               ng-model="newMeeting.series_count" ng-required="newMeeting.is_series" min="1" max="52">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="hasSlots">Sloteinteilung:</label>
                    <div class="col-lg-9">
                        <input id="hasSlots" class="checkbox-inline mtp-checkbox" type="checkbox" value="hasSlots"
                               ng-model="newMeeting.has_slots">
                        <a href="#" data-toggle="tooltip" data-placement="right"
                           title="Soll eine Einteilung der Sprechstundendauer in einzeln belegbare Slots stattfinden?">
                            <div class="badge">?</div>
                        </a>
                    </div>
                </div>
                <div id="slotsGroup" class="form-group" ng-show="newMeeting.has_slots">
                    <label class="control-label col-lg-3" for="slots">Slotanzahl:</label>
                    <div class="col-lg-9">
                        <input id="slots" class="form-control" type="text"
                               placeholder="In wie viele Slots soll die Sprechstunde aufgeteilt werden?"
                               ng-model="newMeeting.slots" ng-required="newMeeting.has_slots">
                    </div>
                </div>
                <div id="maxParticipantsGroup" class="form-group" ng-hide="newMeeting.has_slots">
                    <label class="control-label col-lg-3" for="max_participants">Max. Teilnehmer:</label>
                    <div class="col-lg-9">
                        <input id="max_participants" class="form-control" type="text"
                               placeholder="Wie viele Studierende sollen an der Sprechstunde teilnehmen können?"
                               ng-model="newMeeting.max_participants" ng-required="!newMeeting.has_slots">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="email_notification_docent">Emailnotifikation:</label>
                    <div class="col-lg-9">
                        <input id="email_notification_docent" class="checkbox-inline mtp-checkbox" type="checkbox"
                               value="email_notification_docent" ng-model="newMeeting.email_notification_docent">
                        <a href="#" data-toggle="tooltip" data-placement="right"
                           title="Soll bei An-/Abmeldungen eine Benachrichtigung per Email erfolgen?">
                            <div class="badge">?</div>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="description">Beschreibung:</label>
                    <div class="col-lg-9">
                        <textarea id="description" class="form-control" rows="5"
                                  placeholder="Soll die Sprechstunde(nserie) näher beschrieben werden?"
                                  ng-model="newMeeting.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn mtp-icon-link" type="button" data-dismiss="modal"><i
                        class="fa fa-close fa-lg mtp-icon mtp-icon-xl"></i></button>
                <button class="btn mtp-icon-link" type="submit"><i class="fa fa-check fa-lg mtp-icon mtp-icon-xl"></i>
                </button>
            </div>
            <pre>newMeeting = {{newMeeting | json}}</pre>
        </form>
    </div>
</div>