<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form class="form-horizontal" name="cancelForm" ng-submit="submitCancelForm()" novalidate>
            <div class="modal-header">
                <h2 class="modal-title"><strong>Abmelden</strong></h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-lg-9">Möchten Sie sich von der ausgewählten Sprechstunde abmelden?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn mtp-icon-link" type="button" data-dismiss="modal"><i
                        class="fa fa-close fa-lg mtp-icon mtp-icon-xl"></i></button>
                <button class="btn mtp-icon-link" type="submit"><i class="fa fa-check fa-lg mtp-icon mtp-icon-xl"></i>
                </button>
            </div>
            <pre>participation = {{cancelParticipation | json}}</pre>
        </form>
    </div>
</div>