<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form class="form-horizontal" name="editForm" ng-fab-form-options="fabFormOptions" ng-submit="submitEditForm()" novalidate>
            <div class="modal-header">
                <h2 class="modal-title"><strong>Sprechstunde ändern</strong></h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="title">Titel:</label>
                    <div class="col-lg-9">
                        <input id="title" class="form-control" type="text"
                               placeholder="Wie soll der neue Titel lauten?" ng-model="editMeeting.title"
                               required ng-minlength="3" ng-maxlength="50">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="room">Raum:</label>
                    <div class="col-lg-9">
                        <input id="room" class="form-control" type="text"
                               placeholder="In welchem Raum soll die Sprechstunde stattfinden?"
                               ng-model="editMeeting.room" required ng-minlength="3" ng-maxlength="10">
                    </div>
                </div>
                <div id="maxParticipantsGroup" class="form-group" ng-show="editMeeting.slots < 2">
                    <label class="control-label col-lg-3" for="max_participants">Max. Teilnehmer:</label>
                    <div class="col-lg-9">
                        <input id="max_participants" class="form-control" type="number"
                               placeholder="Wie viele Studierende sollen an der Sprechstunde teilnehmen können?"
                               ng-model="editMeeting.max_participants" ng-required="editMeeting.slots < 2" min="1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="email_notification_docent">Emailnotifikation:</label>
                    <div class="col-lg-9">
                        <input id="email_notification_docent" class="checkbox-inline mtp-checkbox" type="checkbox"
                               value="email_notification_docent" ng-model="editMeeting.email_notification_docent">
                        <a href="#" data-toggle="tooltip" data-placement="right"
                           title="Soll bei An-/Abmeldungen eine Benachrichtigung per Email erfolgen?">
                            <div class="badge">?</div>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="description">Beschreibung:</label>
                    <div class="col-lg-9">
                        <textarea id="description" class="form-control" rows="5"
                                  placeholder="Soll die Sprechstunde näher beschrieben werden?"
                                  ng-model="editMeeting.description" required ng-maxlength="500"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn mtp-icon-link" type="button" data-dismiss="modal"><i
                        class="fa fa-close fa-lg mtp-icon mtp-icon-xl"></i></button>
                <button class="btn mtp-icon-link" type="submit"><i class="fa fa-check fa-lg mtp-icon mtp-icon-xl"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
